*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

}
/*chỉnh sửa slidebar*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex ;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a:hover  /*Chọn tất cả các thẻ <a> bên trong các thẻ <li> thuộc phần tử có ID là navbar. :hover: Khi người dùng di chuột vào (hover) liên kết, nó sẽ đổi màu thành cadetblue */
#navbar li a.active{
    color:cadetblue;
}

#navbar li a.active::after,
#navbar li a:hover::after{
   content: "";
   width: 30%;
   background: #088178;
   height: 2px;
   position: absolute;
   bottom: -4px;
   left: 20px;
}

/*chỉnh sửa table*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    opacity: 0.7;
}
